* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: linear-gradient(135deg, #e6f7ff, #f0f9ff);
    min-height: 100vh;
}

.contenedor2 {
    color: #1a5f9a;
    padding: 20px;
    text-align: center;
}

.contactos {
    margin-bottom: 15px;
}

.botonAgregar {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.agregar {
    padding: 20px 40px;
    background: linear-gradient(135deg, #2e86de, #00b4ff);
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.agregar:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 20px rgba(57, 136, 206, 0.6);
}

.contenedorContactos ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 80px;
    padding: 0 60px;
    margin-top: 60px;
}

.contenedorContactos li {
    background-color: #e1f0ff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(46, 134, 222, 0.15);
    transition: transform 0.3s, background-color 0.3s;
    height: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.contenedorContactos li:hover {
    transform: translateY(-6px);
    background-color: #cce4ff;
}

.llamada {
    width: 35px;
    height: 35px;
    transition: transform 0.3s ease;
    margin-bottom: 10px;
    margin-left: -300px;
    margin-right: 25px;
    margin-top: -40px;
}

.contenedorContactos li:hover .llamada {
    transform: scale(1.4);
}

.contenedorContactos a {
    text-decoration: none;
    color: #1a5f9a;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}

.contenedorContactos a:hover {
    color: #0056b3;
}


@media (max-width: 600px) {
    .contenedor2 {
        padding: 15px;
    }

    .agregar {
        width: 100%;
        margin-top: 10px;
    }

    .contenedorContactos {
        padding: 10px;
    }
}